@model PhoneModelViewModel

@{
    ViewData["Title"] = "Добавяне на телефон";
}

<div class="container mt-5">
    <h2>Добавяне на модел на телефон</h2>
    <form asp-action="Create" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="Name" class="form-label">Име</label>
            <input asp-for="Name" class="form-control" id="Name" required>
            <div class="invalid-feedback">Моля въведете име.</div>
        </div>
        <div class="mb-3">
            <label for="PhoneBrand" class="form-label">Марка телефон</label>
            <select asp-for="PhoneBrand" class="form-select" id="PhoneBrand" required>
                <option value="">Select Brand</option>
                @foreach (var value in Enum.GetValues(typeof(PHONE_SERVICE.Data.Enums.PhoneBrand)))
                {
                    <option value="@value">@value</option>
                }
            </select>
            <div class="invalid-feedback">Моля изберете марка телефон.</div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Добави</button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        (function () {
            'use strict'

            var forms = document.querySelectorAll('.needs-validation')

            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
}
