@model PhoneModelViewModel

<h2>Edit Actor</h2>
<form asp-action="DeleteConfirm" asp-route-id="@Model.PhoneModelId" method="post">
    <div class="form-control">
        <label asp-for="Name" class="form-label"></label>
        <input readonly asp-for="Name" class="form-control" />
    </div>
    <div class="form-control">
        <label asp-for="PhoneBrand" class="control-label"></label>
        <input readonly asp-for="PhoneBrand" class="form-control" />
    </div>
    <input type="hidden" asp-for="PhoneModelId" />
    <button type="submit" class="btn btn-primary" asp-controller="PhoneModel">Delete</button>
</form>