@model PhoneModelViewModel

@{
    ViewData["Title"] = "Редактиране на телефон";
}

<div class="container mt-5">
    <h2>Редактиране на модел</h2>
    <form asp-action="Edit" method="post">
        <div class="mb-3">
            <label for="Name" class="form-label">Име</label>
            <input type="text" id="Name" name="Name" asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="PhoneBrand" class="form-label">Марка телефон</label>
            <select id="PhoneBrand" name="PhoneBrand" asp-for="PhoneBrand" class="form-select">
                <option value="">Select Brand</option>
                @foreach (var value in Enum.GetValues(typeof(PHONE_SERVICE.Data.Enums.PhoneBrand)))
                {
                    <option value="@value">@value</option>
                }
            </select>
            <span asp-validation-for="PhoneBrand" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="PhoneModelId" />
        <button type="submit" class="btn btn-primary">Обнови</button>
    </form>
</div>
