@model PHONE_SERVICE.Models.PhoneModelModels.PhoneModelPageViewModel

<h2>PhoneModel List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>PhoneBrand</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var phoneModel in Model.PhoneModels)
        {
            <tr>
                <td>@phoneModel.Name</td>
                <td>@phoneModel.PhoneBrand</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@phoneModel.PhoneModelId" class="btn btn-primary">Edit</a>
                    <form asp-action="DeleteConfirm" method="post">
                        <input type="hidden" name="id" value="@phoneModel.PhoneModelId" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>

                </td>

            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" asp-controller="PhoneModel" class="btn btn-success">Add New PhoneModel</a>
