@model PhoneModelPageViewModel

<h2>PhoneModel List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>PhoneBrand</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var phoneModel in Model.PhoneModels)
        {
            <tr>
                <td>@phoneModel.PhoneBrand</td>
                <td>@phoneModel.Name</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@phoneModel.PhoneModelId" class="btn btn-primary">Edit</a>
                    <form asp-action="DeleteConfirm" asp-route-id="@phoneModel.PhoneModelId" method="post"
                          onsubmit="return confirm('Are you sure you want to delete this movie?');">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

                </td>

            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" asp-controller="PhoneModel" class="btn btn-success">Add New PhoneModel</a>
